uWebshop.Shipping.AusPost/bin/
uWebshop.Shipping.AusPost/obj/Debug/uWebshop.Shipping.AusPost.csproj.FileListAbsolute.txt
uWebshop.Shipping.AusPost/obj/
uWebshop.Shipping.Example/bin/
uWebshop.Shipping.Example/obj/Debug/uWebshop.Shipping.Example.csproj.FileListAbsolute.txt
uWebshop.Shipping.Example/obj/
